$text-color: #ffffff;
$modal-background-color: rgba(0, 0, 0, 0.479);

.top-logo {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: $text-color;
  padding: 10px;
}

.play-time {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  font-size: 40px;
  font-weight: bold;
  color: $text-color;
  padding: 10px;
}

.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  width: 300px;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);

  p {
    margin: 0;
  }

  .time {
      // letter-spacing: 0.05em;
      font-size: 60px;
      padding: 5px 0;
  }

  .clock-title {
      // letter-spacing: 0.1em;
      font-size: 30px;
  }

  .text {
      // letter-spacing: 0.1em;
      font-size: 12px;
      padding: 20px 0 0;
  }
}

.hint {
  position: absolute;
  left: 85%;
  top: 10px;
  width: 300px;
  max-height: 400px;
  margin-left: -150px;
  font-size: 40px;
  font-weight: bold;
  color: $text-color;
  background-color: $modal-background-color;
  border-radius: 50px;
  padding: 10px;

  .hint-list {
    list-style: none;
    max-height: 350px;
    overflow: auto;
    margin: 0;
    padding: 20px;
    font-size: 25px;
    text-align: left;
    word-break: break-all;
  }
}

.select-box {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -150px;
  width: 300px;
  height: 100px;
  background-color: $modal-background-color;
  padding: 30px;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bold;
  color: $text-color;
}

.select-button-wrap {
  margin-top: 10px;
  button {
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #454545;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #58ba83;
  }
}
