$border-color: #ffffff;
$result-text-color: #ffffff;
$highlight-color: #FDD756;

h1 {
  font-size: 40px;
  margin: 10px;
  color: $result-text-color;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  color: $result-text-color;
}

.restart-button {
  position: absolute;
  right: 10%;
  top: 5px;
  background: transparent;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 12px;
  font-weight: bold;
  color: $result-text-color;
  cursor: pointer;
}

.result-container {
  position: relative;
  width: 50%;
  margin: auto;
  color: $result-text-color;
  font-size: 20px;
}

.rank-container, .score-container {
  width: 90%;
  margin: auto;
}

.rank-container {
  display: flex;
}
.result-table {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  & td {
    width: 50%;
    height: 20px;
  }

  .score-value {
    color: $highlight-color;
    font-size: 30px;
  }
}

.top-ranker-container {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: auto;

  .top-rank-number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    top: 100%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 1px;
    color: black;
    background-color: $highlight-color;
  }

  .top-rank {
    margin: auto;
  }

  .rank-first {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 100px;
    border: 1px solid $highlight-color;
    border-radius: 50px;
  }
}

.top-rank-view {
  width: 80%;

  & > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
  }
}

.top-rank-bottom {
  display: flex;
  justify-content: center;
  .rank-second {
    @extend .rank-first;
  }

  .rank-third {
    @extend .rank-first;
  }
}

.rank-list {
  width: 50%;
  margin: auto;
  font-size: 20px;
  text-align: center;

  ol {
    list-style: none;
    padding: 0;
  }
}

.rank-pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 30px;

  & > div {
    width: 50%;
  }

  & svg {
    cursor: pointer;
  }
}

.highlight {
  border-radius: 30px;
  border: 1px solid $highlight-color;
}

.rank-list-item {
  display: flex;
  position: relative;
  padding: 2px;
  height: 25px;

  div {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    display: inline-block;
  }
  .rank-number {
    text-align: right;
    margin-right: 5px;
    width: 50px;
  }

  .rank-score {
    color: $highlight-color;
  }

  &.highlight {
    border-radius: 30px;
    border: 1px solid $highlight-color;
  }
}

.new-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.div-line {
  width: 100%;
  margin: 5px;
}
